extends base

block content


  | &nbsp;
  header.flex.column.space-evenly.wide 


    div.banner
      img.banImg(src="/images/ban.jpg", alt="Banner Image")
    //- div.jumbotron
    //-   h1.display-4= title
    //-   p.lead Welcome to #[em CRAV], a CMI Roger Autonomous Vehicle Project.
    //-   hr.my-4
      

    
